body {
    background-color: #ffffff;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html {
    font-family: 'Josefin Sans', sans-serif;
    
}
/*Selector universal*/
*{
    margin: 0%;
    padding: 0%;
}

/*Font para la pagína*/
html{
    font-family: "Josefin";

}


.navbar-brand{
    padding: 10px;
    margin: 10px;
}


.navbar-expand-lg .navbar-nav {
    justify-content: flex-end;
    flex-grow: inherit;
    justify-content: space-evenly

}


.banner{
    width: auto;
    height: auto;
    background-size: 100% 100%;
    display: flex; flex-direction: column;
    justify-content: center;

}


.categoriasIndex{
margin-bottom: 50px;
padding: 50px 50px;


}
.tiendaIndex{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.indexinferior{
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
align-items: center;
padding: 10px;
margin-bottom: 10px;
}

.textoindexinferior{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontTitulos{
    font-style: bold;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 20px 20px;
    margin: 30px 20px;
    color: #343435;
    display: flex;
    justify-content: center


}

.fontSubtitulos{
    font-style: normal;
    font-size: 35px;
    letter-spacing: 1px;
    padding: 20px 20px;
    color: #343435;
    display: flex;
    justify-content: center;

    
}


.fontParrafos{
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px 20px;
    color:#343435;
    display: flex;
    justify-content: center;

    
}


.imagenCategorias{
    max-width: 300px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;
}

.button{
    max-width: 200px;
    height: 30px;
    width: 100%;
    color: #ffffff;
    font-family: "Josefin";
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #35518b;
    border-radius: 5px;
    border-color: #ffffff;
    margin:auto;
    text-align: center;
    display: flex;
    justify-content: center;    
}



.btn{
    background-color: #35518b;
    color:#ffffff; 
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.boton_tienda{
    display: flex;
    justify-content: center;
    width: 50%;
}

.catalogoTienda{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 30px;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
}





.espacioFotoProducto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fotoProductoVistaPrevia{
    max-width: 300;
    max-height: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;

}

.tituloProductoTienda{
    font-size: 25px;
    text-align: center;
}

.buttonDetalles{
    max-width: 200px;
    height: 30px;
    width: 100%;
    color: #ffffff;
    font-family: "Josefin";
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #35518b;
    border-radius: 5px;
    border-color: #ffffff;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;  
}

.diseñoPersonalizado{
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainProducto{
display: grid;
grid-template-areas:
"img h3"
"img p"
"img form";
grid-template-rows: repeat(3, 1fr);
grid-template-columns: repeat(2, 1fr);
grid-row-gap: 5px;
grid-column-gap: 40px;
padding-bottom: 40px;
justify-content: stretch;
align-content: center;
}

img{
    grid-area: img;
justify-self: center;
}

h3{
    grid-area: h3;
    align-self: end;
    justify-self: start;
}

p{
    grid-area: p;
    justify-self: start;
    align-self: start;

}

form{
    grid-area: form;
    justify-self: start;
    align-self: start;

}


.fotoProducto{
    max-width: 400;
    max-height: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;

}

.buttonComprar{
    height: 40px;
    width: 150px;
    color: #ffffff;
    font-family: "Josefin";
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #35518b;
    border-radius: 5px;
    border-color: #ffffff;
    margin:auto;
    text-align: center;

}

.tambienTePodriaGustar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.productoRelacionado{
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 5%;
}

.nosotrosIndex{
background-image: url(/images/photos/nosotrosIndex.png);
width: 100%;
height: 450px;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
background-attachment: fixed;

}

.textoNosotrosIndex{
    font-family: "Josefin";
    color:#ffffff;
    font-size: 30px;
    font-weight: bolder;
    font-style: none;

    
}

#mainNosotros{
    padding-bottom: 30px;
}

.textoNosotros{
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px 20px;
    margin: 30px 30px;
    color:#343435;
    display: flex;
    justify-content: center;

}


.fotosNosotros{
    padding: 10px;
    display: flex;
    justify-content: center;

}

.fotoNosotros{
    max-width: 300px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;


}

#mainContacto{
    padding-bottom: 30px;
}

.paginaContacto{
    display: flex;
    flex-direction: column;
align-items: center;
}

.textoFormulario{
    max-width: 300px;
    font-family: "Josefin";
    font-size: 20px;
    padding: 5px 5px;
    margin: 5px;
    display: flex; flex-direction: row;
    justify-content: center;

}

.formularioContacto{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: center;

}

.imagenContacto{
    max-width: 500px;
    height: 200px;
    padding: auto;
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;

}


.buttonFormulario{
    padding: 20px 20px;
}

.espacioChecbox{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.espacioButton{
padding: 20px;
}

footer{
    width:auto;
    height: auto;
    background-color: #35518b;
    color:#ffffff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    background-image: url(../assets/footer/Footer_Image2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;


}

.redesSociales{
    width: 100%;
    display: flex;
    flex-grow: inherit;
    justify-content: end;
}

.textofooter{
max-width: 50%;
font-size: 20px;
font-style: bold;
justify-content: start;
flex-direction: column;
width: 100%;

}

.bi{
    padding: 5px;
    font-size: 1.8rem;
}

/**Media Query**/

@media only screen and (max-width: 768px) {
    .navBar{
    font-size: 60%;
    }
    }

@media only screen and (max-width: 572px) {
    .navBar{
    font-size: 55%;
    }
    }

    @media only screen and (max-width: 1024px) {
        .tiendaIndex{
            width: 100%;
            padding: 5px 5px;
            display: grid;
    
        
        }
        }


@media only screen and (max-width: 768px) {
    .fontTitulos{
        text-align: center;
    }
    }


@media only screen and (max-width: 768px) {
    .textoNosotrosIndex{
        text-align: center;
    }
    }



@media only screen and (max-width: 576px) {
    .fotosNosotros{
        padding: 5px 5px;
        display: grid;
        margin: 20px;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "img"
        "img"
        "img"
        ;
    }
}

@media only screen and (max-width: 1024px) {
    .catalogoTienda{
        width: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        
    }
    }

    @media only screen and (max-width: 768px) {
        .catalogoTienda{
            width: 100%;
            padding: 5px;
            display: grid;
            grid-template-columns: repeat(1, auto);
            
        }
        }


@media only screen and (max-width: 1024px) {
    #mainProducto{
        width: 100%;
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "img"
        "h3"
        "p"
        "form"
    ;
    }
    }

@media only screen and (max-width: 1024px) {
    .fontSubtitulos{
    text-align: center;
    display: flex
    
}
    }

@media only screen and (max-width: 768px) {
    .fontSubtitulos{
    text-align: center;
    display: flex
    
}
    }


    @media only screen and (max-width: 1024px) {
        .tambienTePodriaGustar{
            width: 100%;
            display: grid;
            
        }
        }

        @media only screen and (max-width: 572px) {
            .tambienTePodriaGustar{
                width: 100%;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: 100%;
                grid-template-rows: repeat(4, auto);
                grid-template-areas: 
                "img"
                "img"
                "img"
                "img"
                "img"
                
            }
            }